@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');

html {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    background-color: #f5f0f0;
  }

  body {
    width: 1080px;
    margin: 0 auto;
    background-color: #ffc573;
    padding: 0 20px 20px 0;
    border: 1px solid black;
  }

h2 {
    font-size: 55px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(177, 177, 177);
    margin: 0;
    padding: 20px 0;
    color: #000000;
  }

  h3 {
    padding: 0 0 0px 50px;
  }

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0px 0px 8px 50px;
  }

img.displayed {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
